.wrapper {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hrContainer {
    width: 100%;
    padding: 0;
    display: block;
}

.hr {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    border: 0;
    background-color: #EAE0D8;
}

.titleContainer {
    width: 100%;
    margin: 70px 20px 0;
    display: flex;
    justify-content: space-between;
}

.title {
    display: block;
    font-size: 36px;
    margin: 0 10px;
    font-weight: 400;  
}

.container {
    width: 100%;
    max-width: 1216px;
    padding: 10px;
    height: auto;
    margin: 70px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.catalog {
    width: 392px;
    height: 420px;
    transition: all .3s ease-in-out;
}
.catalog:hover {
    transform: scale(1.03);
}


.catalogImageContainer {
    width: 392px;
    height: 280px;
    margin-bottom: 0 auto;
}

.catalogImage {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.catalogName {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color:#8C8C8C;
    cursor: pointer;
}
.catalogName:hover {
    text-decoration: underline;
}

.catalogPrice {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color:black;
}

.buttonContainer {
    width: 340px;
    height: 68px;
    margin: 50px auto 0;
    /* margin-top: 68px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonL {
    width: 54px;
    height: 41px;
    background: transparent;
    border: none;
    transition: all .1s ease-in-out;
}
.buttonL:hover {
    transform: scale(1.2);
}

.buttonR {
    width: 54px;
    height: 41px;
    background: transparent;
    border: none;
    transition: all .1s ease-in-out;
}
.buttonR:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
    .catalog {
        margin: 0 auto;
    }
}
@media screen and (max-width: 468px) {
    .titleContainer {
        flex-wrap: wrap;
    }
    .title {
        width: 100%;
        text-align: center;
        order: 1;
    }

    .filter {
        width: 50%;
        justify-content: center;
        order: 2;
    }
    .categories {
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        order: 3;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .catalogImageContainer {
        width: 100%;
        height: auto;
        margin-bottom: 0 auto;
    }
}