.secondBlockWrapper {
    position: relative;
    height: 700px;
    display: flex;
}

.title {
    display: block;
    margin: 0 0 0 114px;
    padding-top: 130px;
    font-family: 'Cizel' serif;
    font-weight: 400;
    font-size: 24px;
    color: #161616;
    text-transform: uppercase;
}

.arrowLeft {
    position: absolute;
    width: 54px;
    height: 41px;
    top: 191px;
    left: 1157px;
    cursor: pointer;
}

.arrowRight {
    position: absolute;
    width: 54px;
    height: 41px;
    top: 191px;
    left: 1271px;
    cursor: pointer;
}

.plate {
    position: absolute;
    width: 289px;
    height: 280px;
    top: 307px;
    left: 112px;
    right: 123px;
    background: url(../../images/second-block/1.png)center/cover no-repeat;
}

.plateName {
    position: inherit;
    width: 98px;
    height: 24px;
    top: 295px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color:#8C8C8C;
}

.platePrice {
    position: inherit;
    width: 64px;
    height: 24px;
    top: 334px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.teaCapCollection {
    position: absolute;
    width: 392px;
    height: 368px;
    top: 232px;
    left: 524px;
    right: 123px;
    background: url(../../images/second-block/2.png)center/cover no-repeat;
}
.teaCapCollectionName {
    position: inherit;
    width: 280px;
    height: 24px;
    top: 383px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color:#8C8C8C;
}

.teaCapCollectionPrice {
    position: inherit;
    width: 74px;
    height: 24px;
    top: 423px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.finlandGlass {
    position: absolute;
    width: 289px;
    height: 280px;
    top: 307px;
    left: 1039px;
    background: url(../../images/second-block/3.png)center/cover no-repeat;
}

.finlandGlassName {
    position: inherit;
    width: 150px;
    height: 24px;
    top: 295px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color:#8C8C8C;
}

.finlandGlassPrice {
    position: inherit;
    width: 63px;
    height: 24px;
    top: 334px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}