.titleAndArrows {
    display: block;
}

.title {
    display: block;
    width: 300px;
    height: 30px;
    margin-left: 114px;
    padding-top: 130px;
    font-family: 'Cizel' serif;
    font-weight: 400;
    font-size: 24px;
    color: #161616;
    text-transform: uppercase;
}


 .sliderContainer {
    width: 1194px;
    height: 433px;
    margin: 113px 0 200px 112px;
    /* text-align: center; закомментируй обратно  */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.productBlock {
    width: 300px;
    height: 356px;
    margin-top: 76px;
    transition: opacity ease-in-out 0.4s;
}

.img {
    width: 289px;
    height: 280px;
    overflow: hidden;
     
}
/* оставить закомментированным 
.sliderImage {
    height: 100%;
    width: 117%;
    object-fit: cover;
    transition: opacity ease-in-out 0.4s;
    
} */

.productName {
    display: block;
    height: 24px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
}

.productPrice {
    display: block;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color:black;
} 



/* .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  } */
  
  /* .card {  
    width: 1194px;
    height: 421px;
    margin-top: 113px;
    margin-left: 112px;
    text-align: center; закомментируй обратно 
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  } */
  
  .card-top span {
    font-size: 0.9rem;
    margin: 20px;
  }
  
  .card-top > img {
    width: 289px;
    height: 280px;
    overflow: hidden;
  }
  
  .card-bottom {
    margin: 10px 20px;
  }

  .card-bottom .productPrice {
    display: block;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color:black;
  }
  
  .category {
    position: relative;
  }
  .category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
  }