.philosophyWrapper {
    position: relative;
    /* width: 100%;*/
    height: 500px; 

}

.title {
    display: block;
    width: 300px;
    height: 30px;
    margin-left: 112px;
    padding-top: 151px;
    font-family: 'Cizel' serif;
    font-weight: 400;
    font-size: 24px;
    color: #161616;
    text-transform: uppercase;
}

.philosophyText {
    position: absolute;
    width: 388px;
    height: 169px;
    top: 200px;
    left: 112px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: #8C8C8C;
}

.starSvg {
    position: absolute;
    top: 101px;
    left: 527px;
}

.woodenCutleryImg {
    position: absolute;
    width: 392px;
    height: 410px;
    top: 152px;
    left: 627px;
}

.cupImg {
    position: absolute;
    width: 289px;
    height: 292px;
    top: 255px;
    left: 1039px;
}

.ellipsesImgs {
    position: absolute;
    top: 498px;
    left: 114px;
    width: 280px;
    height: 87px;
}

.ellipseText {
    position: absolute;
    width: 200px;
    height: 24px;
    top: 517px;
    left: 138px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    color: #6F6663;
}