.wrapper {
    position: absolute;
    width: 494px;
    height: 525px;    
}

.container {
    position: absolute;
    width: 250px;
    height: auto;
    background-color: #FCF7F3;
    border: 1px solid #161616;
    color: #161616;
}

.uList {
    width: auto;
    height: auto;
    list-style-type: none;
    cursor: pointer;
    text-indent: 5px;
}

.uList:hover {
    background-color: #EBDDD7;
}