.hrContainer {
    width: 100%;
    padding: 0;
    display: block;
}

.hr {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    border: 0;
    background-color: #EAE0D8;
}

.titleContainer {
    width: 169px;
    height: 49px;
    margin: 60px auto 0;
}

.title {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.imgsAndDescrContainer {
    width: 100%;
    height: auto;
    display: flex;
}

.descrContainer {
    width: 73%;
    height: auto;
    margin: 143px 0 0 114px;
}

.firstDescr {
    display: block;
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 0 0 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #8C8C8C;
    line-height: 28.5px;
}

.secondDescr {
    display: block;
    width: 100%;
    min-width: 300px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #8C8C8C;
    line-height: 28.5px;
}

.firstImgsContainer {
    width: 100%;
    height: auto;
    margin: 50px 0 0 114px;
}

.mainImg {
    width: 401px;
    height: 476px;
}

.secondImg {
    width: 186px;
    height: 187px;
    padding: 0 0 52px 20px;
}

.philosophyContainer {
    width: 100%;
    height: auto;
    display: flex;
}

.philosophyTitleContainer {
    width: 100%;
    height: auto;
    text-align: center;
}

.philosophyTitle {
    width: 304px;
    height: auto;
    padding: 130px 0 0 113px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.cutleryImgContainer {
    width: 392px;
    height: 410px;
    margin: 70px 0 0 113px;
}

.cutleryImg {
    width: 392px;
    height: auto;
}

.secondDescrContainer {
    width: 40%;
    height: auto;
    margin: 129px 25px 0 141px;
}

.thirdDescr {
    display: block;
    width: 100%;
    min-width: 300px;
    padding: 0 0 30px 0;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #8C8C8C;
    line-height: 28.5px;
}

.fourthDescr {
    display: block;
    width: 100%;
    min-width: 300px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #8C8C8C;
    line-height: 28.5px;
}

@media screen and (max-width: 1281px) {
    .secondImg {
        display: none;
    }

    .firstImgsContainer {
        width: 88%;
    }
}

@media screen and (max-width: 1024px) {
    .descrContainer {
        margin: 143px 0 0 20px;
    }

    .secondDescrContainer {
        margin: 69px 25px 0 20px;
    }

    .cutleryImgContainer {
        width: 392px;
        height: 410px;
        margin: 70px 0 0 113px;
    }

    .cutleryImgContainer {
        width: 392px;
        height: 410px;
        margin: 70px 0 0 20px;
    
    }

    .philosophyTitle {
        padding: 130px 0 0 20px;
    }
}

@media screen and (max-width: 769px) {
    .firstImgsContainer {
        width: 100%;
        height: auto;
        margin: 50px 0 0 30px;
    }
}

@media screen and (max-width: 481px) {
    .philosophyTitle {
        margin: 15px auto 0;
        padding: 0;
    }
    
    .philosophyContainer {
        flex-wrap: wrap;
        height: auto;
    }
    
    .descrContainer {
        height: auto;
        padding: 60px 0 0 0;
        margin: 0 auto;
        order: 2;
        text-align: center;
    }

    .cutleryImgContainer {
        width: auto;
        height: auto;
        margin: 30px auto 0;
    }

    .imgsAndDescrContainer {
        height: 69%;
        flex-wrap: wrap;
    }

    .firstImgsContainer {
        width: auto;
        height: 476px;
        margin: 0 auto;
        order: 1;
    }

    .secondDescrContainer {
        width: 73%;
        height: auto;
        padding: 60px 0 0 0;
        margin: 0 auto;
        text-align: center;
    }

}

@media screen and (max-width: 320px) {
    
}