.wrapper {
    position: relative;
    /* top: 350px; */
    width: 100%;
    height: 794px;
}


.imgOrange {
    position: absolute;
    width: 289px;
    height: 292px;
    top: 135px;
    left: 112px;
}

.forkAndKnife {
    position: absolute;
    width: 289px;
    height: 229px;
    top: 494px;
    left: 215px;
}

.twoBlackSpoons {
    position: absolute;
    width: 407px;
    height: 432px;
    top: 230px;
    left: 936px;
}

.categoryContainer {
    position: absolute;
    top: 227px;
    left: 610px;
}

.caregory {
    /* position: absolute;
    top: 277px;
    left: 661px; */
    height: 49px;
    width: auto;
    margin-bottom: 60px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.viewAllItemsContainer a {
    display: block;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: black;
}