.wrapper {
    width: 100%;
    height: auto;
    display: flex;

}
.container {
    width: auto;
    height: auto;
    margin: 0 auto 0;
    display: flex;
}

.firstBlockImgsContainer {
    width: 505px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    margin: 135px 0 0 0;
}

.orangeImgWrapp {
    width: 100%;
    height: auto;
    padding: 0 0 0 112px;
}

.orangeImg {
    display: block;
    width: 289px;
    height: 292px;
}

.forkAndKnifeImgWrapp {
    display: block;
    width: 100%;
    height: auto;
    padding: 49px 0 0 215px;

}

.forkAndKnifeImg {
    display: block;
    width: 289px;
    height: 229px;
    
}


.categoryContainer {
    width: 243px;
    height: auto;
    margin: 227px 0 0 103px;
}

.caregory {
    height: 49px;
    width: auto;
    margin-bottom: 60px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.caregory:hover {
    text-decoration: underline;
}

.blackSpoonsContainer {
    width: 407px;
    height: 432px;
    margin: 230px 0 0 86px;
}

.blackSpoonsImg {
    width: 100%;
    height: auto;
}

.viewAllItemsContainer {
    display: block;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24px;
    
}

.viewAllItemsContainer a {
    color: black;
    transition: all .1s ease-in-out;
}
.viewAllItemsContainer a:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 1025px) {
    .blackSpoonsContainer {
        display: none;
    }

    .orangeImgWrapp {
        width: 289px;
        height: 292px;
        padding: 0 0 0 10px;
    }
    
    .forkAndKnifeImgWrapp {
        width: 289px;
        height: 292px;
        padding: 49px 0 0 30px;
    
    }

    .categoryContainer {
        width: 243px;
        height: auto;
        margin: 227px 0 0 0;
    }
    
}

@media screen and (max-width: 769px) {
    
}


@media screen and (max-width: 481px) {
    .firstBlockImgsContainer {
        display: none;
    }

    .orangeImgWrapp {
        display: none;
    }
    
    .forkAndKnifeImgWrapp {
        display: none;
    
    }
}