.headerWrapper {
    width: 100%;
    height: 680px;
}
@media screen and (max-width: 375px) {
    .headerWrapper {
        width: 100%;
        height: 680px;
    }
}

.headerContainer {
    position: relative;
    display: flex;
}

.starSvg {
    position: absolute;
    left: 1251px;
    top: 191px;
    width: 68px;
    height: 68px;
}

.headerTitleWrapper {
    width: 366px;
    height: 165px;
    margin: 176px 0 0 112px;
}

.headerTitle {
    width: 376px;
    height: 150px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}

.headerImage1 {
    position: absolute;
    top: 151px;
    left: 507px;
    width: 426px;
    height: 520px;
}
@media screen and (max-width: 375px) {
    .headerImage1 {
        width: 327px;
        height: 397px;
    }
}

.headerImage3 {
    position: absolute;
    left: 906px;
    top: 296px;
    width: 289px;
    height: 292px;
}

.headerEllipseContainer {
    display: block;
    margin-left: 115px;
    width: 226px;
    height: 87px;
    align-items: center;
}

.headerEllipse {
    position: absolute;
    top: 426px;
    left: 112px;
    width: 226px;
    height: 87px;
}

.ellipseText {
    width: 193px;
    height: 24px;
    position: absolute;
    top: 460px;
    left: 129px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #6F6663;
    line-height: 24px;
    text-transform: uppercase;
}

@media screen and (max-width: 375px) {
    .starSvg {
        position: absolute;
        left: 409px;
        top: 156px;
        width: 68px;
        height: 68px;
    }
}


@media (max-width: 375px) {
    .headerTitle {
        display: none;
    }
}


@media (max-width: 375px) {
    .headerImage3 {
        display: none;
    }
}

@media (max-width: 375px) {
    .headerEllipseContainer {
        display: none;
    }
}

