

.navbarWrapper {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogoContainer {
    box-sizing: border-box;
    width: 321px;
    margin-right: 10px;
    padding: 12px 0 0 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    width: 108px;
    height: 32px;
}

.navContainer {
    width: 432px;
    height: auto;
    margin: 0 20px;
}

.navbarUl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbarLi {
    padding-right: 4px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #161616;
    text-transform: uppercase;
}
.navbarLi:last-child {
    padding-right: 4px;
}

.navbarLi:hover {
    text-decoration: underline;
}

.navbarIconsContainer {
    width: 152px;
    height: 24px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}

.navbarIcon {
    height: 22px;
    width: 22px;
    margin: 0 5px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .navbarIconsContainer {
        padding: 0 20px 0 0px;
    }
}

@media screen and (max-width: 1025px) {
    .navbarLogoContainer {
        width: 150px;
        padding-left: 50px;
    }

    .navbarIconsContainer {
        width: 152px;
        height: 24px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 769px) {
    .navbarLogoContainer {
        width: 150px;
        padding-left: 10px;
    }

    .navbarIconsContainer {
        padding: 0 10px 0 0;
    }

    .navbarLi {
        padding-right: 8px;
    }

    .navbarLi:last-child {
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {


    .navbarIconsContainer {
        width: 150px;
        padding: 0 0 0 0;
    }

    .navContainer {
        display: none;
    }

    .navbarIconsContainer {
        width: 44%;
        margin-right: 33px;
    }

    .navbarIcon {
        margin-right: 30px;
    }
}

@media screen and (max-width: 481px) {
    .navbarIconsContainer {
        margin: 0 20px 0 0;
    }
    
    .navbarIcon {
        margin: 0 10px 0 0;
    }

    .navbarLogoContainer {
        width: 118px;
    }
}

@media screen and (max-width: 320px) {
    .navbarWrapper {
        width: 100%;
    }
}

 


