

.navbarWrapper {
    width: 100%;
    height: 87px;
    /* padding: 10px 112px; */
    /* padding: 4px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogoContainer {
    width: 230px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    width: 100%;
    height: 32px;
    padding:13px 0 0 112px;
}

.navContainer {
    width: 432px;
    height: auto;
    margin: 0 20px;
}

.navbarUl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbarLi {
    padding-right: 4px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #161616;
    text-transform: uppercase;
}
.navbarLi:last-child {
    padding-right: 4px;
}

.navbarLi:hover {
    text-decoration: underline;
}

.navbarIconsContainer {
    width: 152px;
    height: 24px;
    margin-right: 112px;
    display: flex;
    justify-content: space-between;
}

.navbarIcon {
    /* margin-right: 43px; */
    height: 22px;
    width: 22px;
    margin: 0 5px;
    cursor: pointer;
}

 @media screen and (max-width: 1023px) {

    .navbarLogo {
        padding-left: 70px;
    }

    .navbarIconsContainer {
        margin-right: 70px;
    }
} 

@media screen and (max-width: 767px) {
    .navbarLogoContainer {
        width: 130px;
    }

    .navbarLogo {
        width: 109px;
        padding: 13px 0 0 0;
    }

    .navContainer {
        margin: 0;
    }

    .navbarIconsContainer {
        margin-right: 30px;
    }

    .navbarLi {
        padding-right: 5px;
    }
    .navbarLi:last-child {
        padding-right: none;
    }
    
} 

@media screen and (max-width: 479px) {

    .navbarLogoContainer {
        width: 120px;
        
    }

    .navbarLogo {
        width: 100px;
        padding: 13px 15px 0 20px;
    }

    .navbarUl {
        display: none;
    }

    .navbarWrapper {
        /* padding: 10px 20px; */
    }

    .navbarIconsContainer {
        width: 150px;
        padding: 0 0 0 25px;
    }

    .navContainer {
        display: none;
    }
} 

 


