.navbarWrapper {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLogo {
    display: block;
    margin-top: 0;
    padding: 0;
    position: absolute;
    display: flex;
    width: 109px;
    height: 32px;
    top: 31px;
    left: 112px;
    right: 249px;
    cursor: pointer;
}

.navbarUl {
    display: block;
    width: 450px;
    height: 21px;
    display: block;
    margin: 33px 450px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbarLi {
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    color: #161616;
    text-transform: uppercase;
}

.navbarIconsContainer {
    display: block;
    position: absolute;
    margin: 29px 0 0 1100px;
    padding: 0;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.navbarIcons {
    margin-right: 43px;
    height: 30px;
    width: 50px;
    cursor: pointer;
}


