.filterWrapper {
    width: 108px;
    height: 24px;
    margin: 0 0 0 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}

/* .filter:hover {
    background-color:#EAE0D8;
} */

.filterArrow {
    /* display: block; */
    width: 21px;
    margin-left: 21px;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .filterWrapper {
        margin: 0 0 0 20px;
    }
}
